<main>
  <div class="login__container">
    <div class="login__info--container">
      <h1 class="title">Login</h1>
      <div class="social__login">
        <div class="social__login--element">
          <img src="assets/google.svg" alt="google-image">
        </div>
        <div class="social__login--element">
          <img src="assets/facebook.svg" alt="facebook-image">
        </div>
      </div>

      <p>or</p>

      <form class="form__container">
        <input class="input" type="text" placeholder="Username">
        <input class="input" type="password" placeholder="Password">
        <p>Forgot password? <span class="span">Click here</span></p>
        <button class="btn btn-primary btn__login">login</button>
        <p>Don't have an account? <span class="span">Sing Up</span></p>
      </form>
    </div>
    <!-- <img class="image__container" src="assets/login.svg" alt="login"> -->
  </div>
</main>
