<header class="menu">
  <div class="container">
    <app-menu></app-menu>
  </div>
</header>

<div class="container">
  <h2 class="text-center fw-bold my-5">Proyecto Base</h2>

  <main class="w-100 main">
    <section class="d-flex align-items-center p-5">
      <img src="../../../assets/angular-logo.png" alt="logo angular">
      <p class="text-center fs-3">
        Este proyecto busca agilizar el tiempo de creación de aplicaciones web desarrolladas con Angular,
        mediante una estructura de carpetas ya organizada pero a su vez un conjunto de componentes y estructuras
        reutilizabes ya definidas y probadas para su implementacion.
      </p>
    </section>
  </main>
</div>
